body {
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#samaDengan {
    grid-column: 3 / span 2;
}

#tombol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 100px;
    border: solid 1px white;
    background-color: rgb(37, 30, 30);
    color: white;
    font-size: 3rem;
}